.topbar_container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(145deg, #1b1b1b, #111111);
    padding: 20px 10px;
     border: 1px solid rgb(255 255 255 / 9%);
  border-radius: 15px;
}

.topbar_action_container
{

    display: flex;
    align-items: center;
    gap: 10px;
}

